html {
  scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../black.jpg);
	height:480px;
	background-size: cover;
	background-position: center;
}


/* Menu Bar*/
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;	
}
ul li a{
	text-decoration: none;
	color:#fff;
	padding:5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}

/* Title*/
.title{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.title h1{
	color: #ffff;
	font-size:50px;
}

.job_title{
	margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.job_title h2{
	color: #ffff;
	font-size:30px;
}


/*Profile pic*/

.profile_pic img{
	position:absolute;
	--border-radius: 50%;	
	width:140px;
	top:27%;
	left:50%;
	box-shadow:1px 1px 5px 5px white;
	  transform: translate(-50%, -50%)
}

/* about section*/
.container_1 {
  position: absolute;
  top:90%;
  width: 70%;
  margin-left: 10%;
	box-shadow:1px 1px 2px 2px black;
 -- width: 900px;
 height: 400px;
  padding: 50px;
 -- border: 1px solid red;
}

.container_2{
	top:10%;
	position: absolute;
	width: 400px;
}

.container_3{
	top:115%;
	position: absolute;
	width: 700px;
}

.container_4{
	position: absolute;
	width: 400px;
	margin-left: 50%;
	top:10%;
}
	