html {
  scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../black.jpg);
	height:480px;
	background-size: cover;
	background-position: center;
}


/* Menu Bar*/
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;	
}
ul li a{
	text-decoration: none;
	color:#fff;
	padding:5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}

/* Title*/
.title{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.title h1{
	color: #ffff;
	font-size:50px;
}

.job_title{
	margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.job_title h2{
	color: #ffff;
	font-size:30px;
}


/*Profile pic*/

.profile_pic img{
	position:absolute;
	--border-radius: 50%;	
	width:140px;
	top:27%;
	left:50%;
	box-shadow:1px 1px 5px 5px white;
	  transform: translate(-50%, -50%)
}

/* about section*/

div.container_2 {
text-align: center;
margin-left: 20%;
 margin-right: 20%;
margin-top: 5%;
margin-bottom: 10%;
   
}

/* port*/

div.portfolio {
text-align: center;
margin-left: 20%;
 margin-right: 20%;
margin-top: -5%;
margin-bottom: 3%;
   
}


.vertical-flex {
  display: flex;
  flex-flow: column nowrap;
 align-items: center;
  -background: #808080;
  -margin: 5px;
  -left:30%;
  -justify-content: center;
  }

img {
  padding: 5px;
}

.vertical-flex-container {
	text-align: center;
	margin-top: 0;
 
}




.profile_pic_2 img{
	position:absolute;
	--border-radius: 50%;	
	width:140px;
	top:210%;
	left:50%;
	box-shadow:1px 1px 5px 5px white;
	  transform: translate(-50%, -50%)
}


	